.header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container{
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .options{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .option{
        padding: 10px 15px;
    }
}

























// .header{
//     height: 70px;
//     width:100%;
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 25px;


// .logo-container{
//    height: 100%;
//   // background-color: brown;
//    width: 70px;
//    padding: 25px;
// }

// .options{
//    // background-color: brown;
//     width:50% ;
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;

//     .option{
//         padding: 10px 15px;
//     }
// }
// }
